<li class="row bidblock">
<% placedispo = 0 %>
<% if bid.pass1_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass2_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass3_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass4_id == 0 %>
<% placedispo +=1%>
<% end%>
<% nbrplace= bid.nbrplace %>
<% if current_user %>
<% numplace = 0 %>
<% if bid.pass1_id == current_user.id %>
<% numplace = 1%>
<% elsif bid.pass2_id == current_user.id %>
<% numplace = 2%>
<% elsif bid.pass3_id == current_user.id %>
<% numplace = 3%>
<% elsif bid.pass4_id == current_user.id %>
<% numplace = 4%>
<% end%>
<% end%>

<% if bid != nil %>

<%driver=User.find(bid.driver_id)%>
<%shop=Shop.find(bid.shop_id)%>


  <div class="col-md-5 bidpart destination">
    <div class="row">

      <%if bid.isreturn %>
      <div class="col-md-4">
        <%= image_tag((Brand.where(id: shop.brand_id).first.brandpic), alt:"Logo", class:"enseignesauchan img-responsive enseignes", width:"100")%>
        <p class="text-center"><%= shop.name.capitalize %></p>
      </div>
      <div class="col-md-3">
        <h4 class="text-center trajet">Retour</h4>
        <p class="text-center">
          <i class="fa fa-arrow-right fa-3x text-center" aria-hidden="true"></i><br>


      (<%= disttodriver= Geocoder::Calculations.distance_between([shop.latitude,shop.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
          km)
        </p>

      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center"><%= link_to(image_tag(driver.avatar, size: "50"),user_path(driver.id)) %></p>
          </div>
          <div class="col-md-6">
            <p class="text-left">
              <%= driver.username %></p>
            <p class="text-left"><%= driver.city %>
              <% if current_user %>
              (<%= disttodriver= Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
              km)
            <% else %>
              (<%= disttodriver= Geocoder::Calculations.distance_between([@client.latitude,@client.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
              km)
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <%else %>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-6">
            <p class="text-center"><%= link_to(image_tag(driver.avatar, size: "50"),user_path(driver.id)) %></p>
          </div>
          <div class="col-md-6">
            <p class="text-left">
              <%= driver.username %></p>
            <p class="text-left"><%= driver.city %>
              <% if current_user %>
              (<%= disttodriver= Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
              km)
            <% else %>
              (<%= disttodriver= Geocoder::Calculations.distance_between([@client.latitude,@client.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
              km)
              <% end %>
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <h4 class="text-center trajet">Aller</h4>
        <p class="text-center">
          <i class="fa fa-arrow-right fa-3x text-center" aria-hidden="true"></i>
          <br>(<%= disttodriver= Geocoder::Calculations.distance_between([shop.latitude,shop.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
          km)
        </p>

      </div>
      <div class="col-md-4">
        <%= image_tag((Brand.where(id: shop.brand_id).first.brandpic), alt:"Logo", class:"enseignesauchan img-responsive enseignes", width:"100")%>
        <p class="text-center"><%= shop.name.capitalize %></p>
      </div>

      <% end %>

    </div>
  </div>

  <div class="col-md-5 bidpart">
    <div class="row">

      <%if bid.isreturn %>
      <div class="col-md-4 date">
        <p class="text-center"><%= bid.come_back.strftime("%d/%m/%y") %></p>
      </div>
      <div class="col-md-3 hour">
        <p class="text-center "><%= bid.come_back.strftime("%H:%M") %></p>
      </div>
      <div class="col-md-5 car">
        <% if current_user %>
        <%if driver.driver %>
        <p class="text-center "><%= Carbrand.find(driver.cbrand_id).name %>
          <%= Carmodel.find(driver.cmodel_id).name %>
          (<%= driver.carsize %>)</p>
        <%end %>
        <%end %>
      </div>

      <%else %>

        <div class="col-md-4 date">
          <p class="text-center"><%= bid.go_at.strftime("%d/%m/%y") %></p>
        </div>
        <div class="col-md-3 hour">
          <p class="text-center "><%= bid.go_at.strftime("%H:%M") %></p>
        </div>
        <div class="col-md-5 car">
          <% if current_user %>
          <%if driver.driver %>
          <p class="text-center "><%= Carbrand.find(driver.cbrand_id).name %>
            <%= Carmodel.find(driver.cmodel_id).name %>
            (<%= driver.carsize %>)</p>

          <%end %>
          <%end %>
        </div>
        <%end %>

      <div class="col-md-12">
        <%pourcentbar = 10 + (nbrplace - placedispo)*(90/nbrplace) %>
<div class="row">
  <div class="col-md-8">
    <p>Places restantes :
      <%= placedispo %></p>

  </div>
  <div class="col-md-4">
<%if current_user %>
<%if placedispo != bid.nbrplace %>

          <div class="btn-group dropup float-right">
            <button type="button" class="btn btn-default">Qui y va?</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu list-inline">
              <%if bid.pass1_id != 0 && bid.pass1_id != nil %>
              <li>
                <%= image_tag(User.find(bid.pass1_id).avatar, alt:"passager1", size:"50") %>
              </li>
              <% end %>
              <%if bid.pass2_id != 0 && bid.pass2_id != nil %>
              <li>
                <%= image_tag(User.find(bid.pass2_id).avatar, alt:"passager2", size:"50") %>
              </li>
              <% end %>
              <%if bid.pass3_id != 0 && bid.pass3_id != nil %>
              <li>
                <%= image_tag(User.find(bid.pass3_id).avatar, alt:"passager3", size:"50") %>
              </li>
              <% end %>
              <%if bid.pass4_id != 0 && bid.pass4_id != nil %>
              <li>
                <%= image_tag(User.find(bid.pass4_id).avatar, alt:"passager4", size:"50") %>
              </li>
              <% end %>
            </ul>
          </div>
          <%end %>
          <%end %>
        </div>
      </div>
        <div class="progress">
          <%if pourcentbar <= 40 %>
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
            <span class="sr-only"><%= pourcentbar %>% Complete</span>
          </div>
          <%elsif pourcentbar <= 89 %>
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
            <span class="sr-only"><%= pourcentbar %>% Complete</span>
          </div>
          <%else %>
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
            <span class="sr-only"><%= pourcentbar %>% Complete</span>
          </div>
          <%end %>
        </div>
      </div>


    </div>
  </div>

  <div class="col-md-1 bidpart">

  <%if bid.go_at < DateTime.now || bid.come_back < DateTime.now %>
  <p class="complet text-center">TROP TARD</p>
  <% elsif placedispo != 0 && current_user%>
  <%= link_to "Réserver", "", :class => "btn btn-default", "data-toggle" => "modal","data-target" => "#reservationmodal#{bid.id}" %>
  <%elsif placedispo == 0 %>
  <p class="complet text-center">COMPLET</p>
  <%else%>
  <%= link_to "Réserver", "", :class => "btn btn-default", "data-toggle" => "modal","data-target" => "#myModal" %>
  <% end %>

  <%if @bid.isreturn %>
  <%if numplace != 0 && current_user && bid.come_back.to_date > Date.today%>
  <%= link_to "Annuler", annulerresa_path(bid), :class => "btn btn-default btn" %>
  <% end %>
  <%else %>
  <%if numplace != 0 && current_user && bid.go_at.to_date > Date.today%>
  <%= link_to "Annuler", annulerresa_path(bid), :class => "btn btn-default btn" %>
  <% end %>
  <% end %>

</div>


<% if placedispo != 0 %>
<!-- Modal -->
<div class="modal fade" id="reservationmodal<%=bid.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
        <br><br>
        <div class="alert alert-info">
          <h3>Etes-vous sûr de vouloir réserver ce trajet ?</h3>
          <p>Réserver une place maintenant vous fera partir de
            <%= driver.city %>
            pour vous rendre à
            <%= shop.name.capitalize %>. Prenez contact avec
            <%= driver.username%>
            pour vous retrouver à
            <%= driver.city %>.</p>

          <div class="row">

            <%= link_to "Valider", reserver_path(bid), class: "btn btn-default btn-lg text-left validationreservation"%>

            <button type="button" class="btn btn-default btn-lg text-right cancelvalidation" data-dismiss="modal" aria-label="Close">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Non
            </button>

            <p class="text-center">

              <i class="fa fa-spinner fa-pulse fa-3x fa-fw validationloading text-center"></i>
              <span class="sr-only">Loading...</span>
            </p>
            <script type="text/javascript">
              $('.validationloading').hide();
              $('.validationreservation').click(function () {
                $(this).remove();
                $('.cancelvalidation').remove();
                $('.validationloading').show();

              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Modal -->
<%end %>

<%end %>
</li>
