<% placedispo = 0 %>
<% if bid.pass1_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass2_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass3_id == 0 %>
<% placedispo +=1%>
<% end%>
<% if bid.pass4_id == 0 %>
<% placedispo +=1%>
<% end%>
<% nbrplace= bid.nbrplace %>
<% if current_user %>
  <% numplace = 0 %>
  <% if bid.pass1_id == current_user.id %>
  <% numplace = 1%>
  <% elsif bid.pass2_id == current_user.id %>
  <% numplace = 2%>
  <% elsif bid.pass3_id == current_user.id %>
  <% numplace = 3%>
  <% elsif bid.pass4_id == current_user.id %>
  <% numplace = 4%>
  <% end%>
<% end%>



<%driver=User.where(id:bid.driver_id).first%>
<%shop=Shop.where(id:bid.shop_id).first%>
<div class="col-md-3 bidblock">
  <div class="row">
    <%if bid.isreturn %>
    <h4 class="text-center trajet">Retour</h4>
    <div class="col-md-5">
      <%= image_tag((Brand.where(id: shop.brand_id).first.brandpic), alt:"Logo", class:"enseignesauchan img-responsive enseignes", width:"100")%>
      <p class="text-center"><%= shop.name.capitalize %></p>
    </div>
    <div class="col-md-2">
      <i class="fa fa-arrow-right fa-3x text-center" aria-hidden="true"></i>
      <p class="text-center">(<%= disttodriver= Geocoder::Calculations.distance_between([shop.latitude,shop.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
        km)
      </p>

    </div>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <p class="text-center"><%= link_to(image_tag(driver.avatar, size: "50"),user_path(driver.id)) %></p>
        </div>
        <div class="col-md-6">
          <p class="text-left">
            <%= driver.username %></p>
          <p class="text-left"><%= driver.city %>
            <% if current_user %>
            (<%= disttodriver= Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
            km)
          <% else %>
            (<%= disttodriver= Geocoder::Calculations.distance_between([@client.latitude,@client.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
            km)
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-4 date">
        <p class="text-center"><%= bid.come_back.strftime("%d/%m/%y") %></p>
      </div>
      <div class="col-md-3 hour">
        <p class="text-center "><%= bid.come_back.strftime("%H:%M") %></p>
      </div>
      <div class="col-md-5 car">
        <% if current_user %>
        <%if current_user.driver %>
        <p class="text-center "><%= Carbrand.find(driver.cbrand_id).name %> <%= Carmodel.find(driver.cmodel_id).name %> (<%= driver.carsize %>)</p>

        <%end %>
        <%end %>
      </div>
    </div>

    <%else %>
    <h4 class="text-center trajet">Aller</h4>
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <p class="text-center"><%= image_tag(driver.avatar, size: "50") %></p>
        </div>
        <div class="col-md-6">
          <p class="text-left">
            <%= driver.username %></p>
          <p class="text-left"><%= driver.city %>
            <% if current_user %>
            (<%= disttodriver= Geocoder::Calculations.distance_between([current_user.latitude,current_user.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
            km)
          <% else %>
            (<%= disttodriver= Geocoder::Calculations.distance_between([@client.latitude,@client.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
            km)
            <% end %>
          </p>
        </div>
      </div>

    </div>
    <div class="col-md-2">
      <i class="fa fa-arrow-right fa-3x text-center" aria-hidden="true"></i>
      <p class="text-center">(<%= disttodriver= Geocoder::Calculations.distance_between([shop.latitude,shop.longitude], [driver.latitude,driver.longitude], :units => :km).round(2) %>
        km)
      </p>

    </div>
    <div class="col-md-5">
      <%= image_tag((Brand.where(id: shop.brand_id).first.brandpic), alt:"Logo", class:"enseignesauchan img-responsive enseignes", width:"100")%>
      <p class="text-center"><%= shop.name.capitalize %></p>
    </div>
      <div class="col-md-12">
        <div class="col-md-4 date">
          <p class="text-center"><%= bid.go_at.strftime("%d/%m/%y") %></p>
        </div>
        <div class="col-md-3 hour">
          <p class="text-center "><%= bid.go_at.strftime("%H:%M") %></p>
        </div>
        <div class="col-md-5 car">
          <%if driver.driver %>
          <p class="text-center "><%= Carbrand.find(driver.cbrand_id).name %> <%= Carmodel.find(driver.cmodel_id).name %> (<%= driver.carsize %>)</p>

          <%end %>
        </div>
      </div>
    <% end %>
<%pourcentbar = 10 + (nbrplace - placedispo)*(90/nbrplace) %>
    <div class="col-md-12">
    <p>Places restantes : <%= placedispo %></p>
    <p>
      <div class="progress">
        <%if pourcentbar <= 40 %>
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
          <span class="sr-only"><%= pourcentbar %>% Complete</span>
        </div>
        <%elsif pourcentbar <= 89 %>
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
          <span class="sr-only"><%= pourcentbar %>% Complete</span>
        </div>
        <%else %>
        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="<%= pourcentbar %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pourcentbar %>%">
          <span class="sr-only"><%= pourcentbar %>% Complete</span>
        </div>
        <%end %>
      </div>
          <% if placedispo != 0 && current_user%>
            <%= link_to "Réserver", "", :class => "btn btn-default btn", "data-toggle" => "modal","data-target" => "#reservationmodal#{bid.id}" %>
          <%elsif placedispo ==0 %>
            <p class="complet text-center">COMPLET</p>
          <% end %>
          <%if numplace != 0 && current_user %>
          <%= link_to "Annuler", annulerresa_path(bid), :class => "btn btn-default btn" %>
          <% end %>
    </p>
  </div>


<% if placedispo != 0 %>
        <!-- Modal -->
        <div class="modal fade" id="reservationmodal<%=bid.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3 text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
                <br><br>
                <div class="alert alert-info">
                  <h3>Etes-vous sûr de vouloir réserver ce trajet ?</h3>
                  <p>Réserver une place maintenant vous fera partir de
                    <%= driver.city %>
                    pour vous rendre à
                    <%= shop.name.capitalize %>. Prenez contact avec <%= driver.username%> pour vous retrouver à
                    <%= driver.city %>.</p>


                  <div class="row">

                    <%= link_to "Valider", reserver_path(bid), class: "btn btn-default btn-lg text-left"%>

                      OK
                    </a>

                    <button type="button" class="btn btn-default btn-lg text-right" data-dismiss="modal" aria-label="Close">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                      Non
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /Modal -->
        <%end %>
      </div>

    </div>
