


<div class="container">
  <div class="row">
    <h1 class="text-center toppage"> Nous contacter </h1>
    <div class=" col-lg-6 col-md-6 col-sm-12  ">
      <div id="info_perso" class="row">

        <div id="info2" class=" col-lg-8 col-md-6 col-sm-4 col-xs-4 text-center">
          <div class="row">
          <p>  <%= image_tag("othman.png", class:"img-circle  img-responsive", alt:"mimi othman")%></p>


              <p>
                Othman ben
</br>
                projetcoshop<span class="hidden-xs hidden-sm">@gmail.com</span>

              </p>

          </div>
          </div>

          <div id="info1" class=" col-lg-8 col-md-6 col-sm-4 col-xs-4 text-center">
            <div class="row">
              <p><img class="img-circle  img-responsive " src="/img/avataruser/moi.jpg" alt="Guillaume"/></p>

                <p>
                  Guillaume Manier
              </br>
                  dev.guillaumem59<span class="hidden-xs hidden-sm">@gmail.com</span>
                </p>


            </div>
          </div>

        
          <p class="text-center col-md-12 hidden-md hidden-lg">
            @gmail.com
          </p>
        </div>
      </div>


    <div id="formul" class=" col-lg-6 col-md-6 col-sm-12 text-center ">

      <%= form_for @message, :url => {:action => "sendquestion" } do |f| %>

      <div class="form-group">
        <div class="input-field">
          <i class="material-icons prefix"></i>
          <%= f.label :Prénom %></br>
          <%= f.text_field :prenom, :class => "validate"%>
        </div>
      </div>

      <div class="form-group">
        <div class="input-field">
          <i class="material-icons prefix"></i>
          <%= f.label :Email %></br>
          <%= f.email_field :email, :class => "validate" %>
        </div>
      </div>

      <div class="form-group">
        <div class="input-field">
          <i class="material-icons prefix"></i>
          <%= f.label :Objet %></br>
          <%= f.text_field :objet, :class => "validate" %>
        </div>
      </div>

      <!-- <div class="form-group col-lg-10 col-md-12 col-sm-12">
                  <div class="input-field">
                      <i class="material-icons prefix"></i>
                      <%= f.label :Message %>
                      <%= f.text_area :contenu, :size => "50x12", :class => "materialize-textarea"%>
                  </div>
              </div> -->

      <div class="form-group">

        <%= f.label :Message %>
      </br>
      <%= f.text_area :contenu, :class => "contact-area"%>

    </div>

    <%= submit_tag "Envoyer", :class => "btn btn-lg" %>

    <% end %>

  </div>

<div class="col-lg-6 col-md-6 col-sm-8 hidden-xs hidden-sm " id="my_map">

  <div class="row">

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.668756841743!2d3.0184829516107583!3d50.63326997940037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTDCsDM3JzU5LjgiTiAzwrAwMScxNC40IkU!5e0!3m2!1sfr!2sfr!4v1465307822256"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      allowfullscreen></iframe>
  </div>
</div>

<div id="info_contact" class="col-lg-4  col-lg-offset-1 col-md-4 col-md-offset-2 col-sm-6 col-sm-offset-3">
  <p class="text-center">
    Co-Shop</br>
    165 Avenue de Bretagne</br>
    59000 Lille
  </p>
</div>
</div>
</div>
