<div class="edit">


<h2 class="text-center edit">Profil <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(Ne mettez rien si vous ne voulez pas le changer)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(Pour valider les changements)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field">
  <%= f.label :avatar do %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  <% end %>
</div>

<div class="field">
  <%= f.label :nom %><br />
  <%= f.text_field :nom %>
</div>

<div class="field">
  <%= f.label :prenom %><br />
  <%= f.text_field :prenom %>
</div>

<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :phone %><br />
  <%= f.text_field :phone %>
</div>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Détruire mon compte</h3>

<p>Attention, la suppression de votre compte est irréversible. <%= button_to "Supprimer mon compte", registration_path(resource_name), data: { confirm: "Etes vous sur?" }, method: :delete %></p>

<%= link_to "Retour", :back %>
</div>
