<script src="//maps.google.com/maps/api/js?v=3.22&key=AIzaSyBngIsRw-Abk5UB04-Nl_Qg4vACEfo2jEo&libraries=geometry&language=fr&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>
<p id="notice"><%= notice %></p>

<p>
  <strong>name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @shop.zipcode %>
</p>

<p>
  <strong>Drive:</strong>
  <%= @shop.isdrive %>
</p>
<p>
  <strong>latitude:</strong>
  <%= @shop.latitude %>
</p>
<p>
  <strong>Longitude:</strong>
  <%= @shop.longitude %>
</p>

<div style='width: 800px'>
  <div id="map" style='width: 800px; height: 400px'></div>
</div>


<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>


    <script type="text/javascript">
    handler = Gmaps.build('Google');
  handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
    </script>
