<script src="//maps.google.com/maps/api/js?v=3.22&key=AIzaSyBngIsRw-Abk5UB04-Nl_Qg4vACEfo2jEo&libraries=geometry&language=fr&hl=&region="></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js"></script>



<div class="container toppage">
  <header class="row">

    <h1 class="headercontant col-md-12 text-center">
      Mon Profil:
      <%= @user.username %>
    </h1>
  </header>

  <div class="row">
    <div class="profil stats col-md-6">

      <div class="row">
        <div class="col-md-6 useravatarbloc text-center">
          <p>
            <%= image_tag(@user.avatar, class:"img-responsive profilavatar") %>
          </p>
          <h4>
            <%= @user.prenom %>

            <% if current_user%>
            <% if current_user.id == @user.id %>

            <%= @user.nom %>
            <%end%>
            <%end%>
          </h4>
          <p>
            <%= @age %>
            ans,
            <%if @user.gender%>
            Femme
            <%else %>
            Homme
            <%end%>
          </p>
          <p>
            <strong>Ville:
            </strong>
            <%= @user.city %>

          </p>
          <p>
            <%= @user.xp %>
          </p>
          <% if @user.driver %>
          <p>
            Véhicule:
            <%= Carbrand.find(@user.cbrand_id).name %>
            <%= Carmodel.find(@user.cmodel_id).name %>
            ,  <%= @user.carsize %>
            </p>
            <% end %>
        </div>
        <div class="col-md-6 useridbloc">

          <p>
            <strong>Quelques mots:</strong>
            <%= @user.comment %>
          </p>

        <% if current_user%>
        <% if current_user.id == @user.id %>

          <p>
            <%= @user.adress %>
          </p>
          <p>
            <%= @user.zipcode %>
            <%= @user.city %>
          </p>
          <p>
            Tel:<%= @user.phone %>
          </p>
          <p>
            @:<%= @user.email %>
          </p>
          <p>
            <strong>Newsletter:</strong>
            <%if @user.subscribe %>
            oui
            <%else%>
            non
            <%end%>
          </p>
</div>
          <div class="col-md-12 editlinkbloc text-center">
            <%= link_to 'Editer mon profil', edit_user_path(@user), class:"btn btn-lg" %>
          </div>
          <%end%>
          <%end%>
      </div>
      </div>
        <% if current_user %>
        <% if current_user.driver %>
        <div class="col-md-6 waitingvalidations">

          <% if @waitval == nil%>
            <h3 class="text-center"> Pas de validation de trajets en attente</h3>
          <% else %>
            <h3 class="text-center"> <%= @waitval.size %> validation<% if @waitval.size > 1 %>s<%end %> de trajets en attente</h3>
            <% @waitval.each do |valrequest| %>
            <% passager = User.find(valrequest.pass_id) %>
            <p> Trajet du <%= valrequest.bid_date %>, avec <%= passager.prenom %>, code de validation :
 <%= form_for Validation.find(valrequest.id), :method => :PUT do |f| %>

              <%= f.text_field :code_token %>
<%= f.submit "Valider"%>
<%end %>

            </p>
            <%end %>
            <%end %>
          </div>
            <%else %>
            <div class="profil mapperso col-md-6">
              <div id="map" style='width: 100%; height: 400px'></div>
            </div>
          <%end %>
        <%end %>

      <div class="col-md-12 nextbidsblock">
        <h2 class="text-center">Prochains trajets</h2>
        <% a=1%>
        <% Bid.where(driver_id:@user.id).order(:go_at).reverse.each do |bid| %>
        <% if a<=6 %>
        <%= render :partial =>"/static_pages/bid",locals: {:bid => bid} %>

        <% a+=1 %>
        <%end%>

        <%end%>
      </div>
      <div class="col-md-12 lastbidsblock">
        <h2 class="text-center">Nouveaux trajets</h2>
        <% a=1%>
        <% Bid.where(driver_id:@user.id).order(:created_at).reverse.each do |bid| %>
        <% if a<=6 %>
        <%= render :partial =>"/static_pages/bid",locals: {:bid => bid} %>

        <% a+=1 %>
        <%end%>

        <%end%>

      </div>

    </div>
    <!-- NESTED ROW -->

  </div>




<script type="text/javascript">

var bidheights = $("div.bidblock").map(function ()
    {
        return $(this).height();
    }).get();
    maxBidHeight = Math.max.apply(null, bidheights);
  var x = maxBidHeight;
  var realheight = x*1.1;

    $('div.bidblock').css({"min-height":realheight+"px"});



handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
markers = handler.addMarkers(<%=raw @hash.to_json %>);
handler.bounds.extendWith(markers);
handler.fitMapToBounds();
});
</script>
