<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @trajetpumd.driver_id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @trajetpumd.shop_id %>
</p>

<p>
  <strong>Td date:</strong>
  <%= @trajetpumd.td_date %>
</p>

<p>
  <strong>Td time:</strong>
  <%= @trajetpumd.td_time %>
</p>

<p>
  <strong>Regulier:</strong>
  <%= @trajetpumd.regulier %>
</p>

<p>
  <strong>Drive1 ref:</strong>
  <%= @trajetpumd.drive1_ref %>
</p>

<p>
  <strong>Drive2 ref:</strong>
  <%= @trajetpumd.drive2_ref %>
</p>

<p>
  <strong>Drive3 ref:</strong>
  <%= @trajetpumd.drive3_ref %>
</p>

<p>
  <strong>Drive4 ref:</strong>
  <%= @trajetpumd.drive4_ref %>
</p>

<p>
  <strong>Drive5 ref:</strong>
  <%= @trajetpumd.drive5_ref %>
</p>

<p>
  <strong>Drive6 ref:</strong>
  <%= @trajetpumd.drive6_ref %>
</p>

<p>
  <strong>Drive1 size:</strong>
  <%= @trajetpumd.drive1_size %>
</p>

<p>
  <strong>Drive2 size:</strong>
  <%= @trajetpumd.drive2_size %>
</p>

<p>
  <strong>Drive3 size:</strong>
  <%= @trajetpumd.drive3_size %>
</p>

<p>
  <strong>Drive4 size:</strong>
  <%= @trajetpumd.drive4_size %>
</p>

<p>
  <strong>Drive5 size:</strong>
  <%= @trajetpumd.drive5_size %>
</p>

<p>
  <strong>Drive6 size:</strong>
  <%= @trajetpumd.drive6_size %>
</p>

<%= link_to 'Edit', edit_trajetpumd_path(@trajetpumd) %> |
<%= link_to 'Back', trajetpumds_path %>
