<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @trajetpumd.driver_id %>
</p>

<p>
  <strong>Shop:</strong>
  <%= @trajetpumd.shop_id %>
</p>

<p>
  <strong>do_at:</strong>
  <%= @trajetpumd.do_at %>
</p>



<p>
  <strong>Regulier:</strong>
  <%= @trajetpumd.regulier %>
</p>


<%= link_to 'Edit', edit_trajetpumd_path(@trajetpumd) %> |
<%= link_to 'Back', trajetpumds_path %>
