<p id="notice"><%= notice %></p>

<p>
  <strong>Trajet:</strong>
  <%= @resapumd.trajet_id %>
</p>

<p>
  <strong>Drive1 ref:</strong>
  <%= @resapumd.drive1_ref %>
</p>

<p>
  <strong>Drive2 ref:</strong>
  <%= @resapumd.drive2_ref %>
</p>

<p>
  <strong>Drive3 ref:</strong>
  <%= @resapumd.drive3_ref %>
</p>

<p>
  <strong>Drive4 ref:</strong>
  <%= @resapumd.drive4_ref %>
</p>

<p>
  <strong>Drive5 ref:</strong>
  <%= @resapumd.drive5_ref %>
</p>

<p>
  <strong>Drive6 ref:</strong>
  <%= @resapumd.drive6_ref %>
</p>

<p>
  <strong>Drive1 size:</strong>
  <%= @resapumd.drive1_size %>
</p>

<p>
  <strong>Drive2 size:</strong>
  <%= @resapumd.drive2_size %>
</p>

<p>
  <strong>Drive3 size:</strong>
  <%= @resapumd.drive3_size %>
</p>

<p>
  <strong>Drive4 size:</strong>
  <%= @resapumd.drive4_size %>
</p>

<p>
  <strong>Drive5 size:</strong>
  <%= @resapumd.drive5_size %>
</p>

<p>
  <strong>Drive6 size:</strong>
  <%= @resapumd.drive6_size %>
</p>

<p>
  <strong>Drive1 userid:</strong>
  <%= @resapumd.drive1_userid %>
</p>

<p>
  <strong>Drive2 userid:</strong>
  <%= @resapumd.drive2_userid %>
</p>

<p>
  <strong>Drive3 userid:</strong>
  <%= @resapumd.drive3_userid %>
</p>

<p>
  <strong>Drive4 userid:</strong>
  <%= @resapumd.drive4_userid %>
</p>

<p>
  <strong>Drive5 userid:</strong>
  <%= @resapumd.drive5_userid %>
</p>

<p>
  <strong>Drive6 userid:</strong>
  <%= @resapumd.drive6_userid %>
</p>

<%= link_to 'Edit', edit_resapumd_path(@resapumd) %> |
<%= link_to 'Back', resapumds_path %>
