<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%driver= User.find(@bid.driver_id) %>
  <h1>Bonjour <%= @current_user.prenom %>,</h1>
    <h3>vous avez reservé pour le trajet suivant:</h3>

    <p> Objet: <%= @bid.id %><br>
<br>
    Magasin: <%= Shop.find(@bid.shop_id).name %><br>
    Horaire: <%= @bid.go_at %> <br>
    Conducteur :<%= driver.prenom %> <br>

    <h3>Votre code de vérification: <strong> <%= @code5 %> </strong></h3>
<br>
    Merci pour votre confiance, vous pouvez contacter le conducteur: <br>
    @:<%= driver.email %> <br>
    tel:<%= driver.phone %> <br>
<br>
    co-shop vous souhaite un très bon shopping...</p>
</body>
</html>
