<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @car.user_id %>
</p>

<p>
  <strong>Carold:</strong>
  <%= @car.carold %>
</p>

<p>
  <strong>Carpic:</strong>
  <%= @car.carpic %>
</p>

<p>
  <strong>Carbrand:</strong>
  <%= @car.carbrand %>
</p>

<p>
  <strong>Carmodel:</strong>
  <%= @car.carmodel %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
