<!DOCTYPE html>
<html>
  <head>
    <title>On vous livre vos courses - Pickupmydrive.fr</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag "favicon.png",  type: 'image/png' %>
    <%= csrf_meta_tags %>
    <meta name="description" content="Pas le courage, pas les moyens ou tout simplement pas le temps de faire les courses? Faites-vous livrer vos achats drive">
    <meta name="keywords" content="Drive, Courses, Livraison,auchan direct, solidaire, ecologie, economie, Pick, parking, aller, faire, aide a la personne, mobilité">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script>
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        },
        i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
      ga('create', 'UA-78958385-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body>

    <!-- modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">

        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="panel">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6 text-center">
                    <a href="#" class="active" id="login-form-link" alt="onglet se connecter">Se connecter</a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <%= link_to "S'inscrire", new_user_registration_path, alt:"onglet s'inscrire" %>
                  </div>
                </div>
                <hr>
              </div>
              <div id="login-form">

                <div class="panel-body">
                  <div class="row">
                    <div class="col-lg-12">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="field">
                        <label for="username">Nom d'utilisateur</label>
                        <%= f.text_field :username, autofocus: true, :class => 'form-control', :id => "username"  %>
                      </div>

                      <div class="field">
                        <label for="password">Password</label>
                        <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :id => "password"  %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                      <div class="field text-center">
                        <%= f.check_box :remember_me, :id => "checkboxrememberme" %>
                        <label for="checkboxrememberme">Se souvenir de moi</label>
                      </div>
                      <% end -%>

                      <%= f.submit "Connexion", :class => "btn btn-login form-control" %>
                    </div>
                    <% end %>
                  </div>
                  <hr>
                  <h3 class="text-center">Pas encore inscrit?</h3>
                  <a href="#register-form" id="register-form-link-loggin" class="btn btn-login form-control" alt="inscription">S'inscrire</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Fixed navbar -->
    <nav id="header" class="navbar navbar-fixed-top">
      <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" alt="menu">
            <i class="fa fa-bars btnmenu" aria-hidden="true"></i>

          </button>
          <%= link_to(image_tag("logopumdinline.png", class:"logo_hot img-responsive", alt:"Logo coshop"), root_path, class:"navbar-brand" ) %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right list-inline text-center">
            <li class="hidden-xs hidden-sm">
              <%= link_to "Accueil", root_path , alt:"Accueil"%>
            </li>
            <li class="hidden-md hidden-lg">
              <%= link_to (root_path), class:"navicohome", alt:"Accueil" do%>
              <i class="fa fa-home fa-3x"></i>
              <%end %>
            </li>
            <% if user_signed_in? %>
            <li class="hidden-xs hidden-sm">
              <%= link_to "Mon tableau de bord", tdb_path , alt:"tableau de bord"%>
            </li>
            <li class="hidden-md hidden-lg">
              <%= link_to (tdb_path), class:"navicohome", alt:"tableau de bord" do%>
              <i class="fa fa-cogs fa-3x"></i>
              <%end %>
            </li>
            <li class="hidden-xs hidden-sm ">
              <%= link_to "Contact", static_pages_contact_path, alt:"contact"%>
            </li>
            <li class="hidden-md hidden-lg ">
              <%= link_to (static_pages_contact_path), class:"navicocontact", alt:"contact" do%>
              <i class="fa fa-envelope-o fa-3x"></i>
              <% end %>
            </li>

            <li>
              <%= link_to image_tag(current_user.avatar, size:"30"), user_path(current_user), class:"navicouser ", alt:"mon profil" %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, :class => "navicoout hidden-md hidden-lg", alt:"déconnexion", :method => :delete do%>
              <i class="fa fa-sign-out fa-3x"></i>
              <%end %>
              <%= link_to "Déconnexion", destroy_user_session_path, :class => "btn btn-lg logoutbtn hidden-xs hidden-sm", alt:"déconnexion", :method => :delete %>

            </li>
          <% else %>
            <li class="hidden-xs hidden-sm">
              <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#myModal" alt="connexion">
                Connexion</button>
            </li>
            <li class="hidden-md hidden-lg ">
              <%= link_to "Connexion", new_user_session_path, class: "btn btn-lg", alt:"connexion" %>
            </li>
            <% end %>
          </ul>

        </div>
        <!-- /.nav-collapse -->
      </div>
      <!-- /.container -->
    </nav>
    <!-- /.navbar -->

    <div class="message">
      <%= flash_messages %></div>

    <%= yield %>

    <!-- Footer -->
    <% if controller_name == 'static_pages' && action_name == 'home' %>
  <% else %>
    <footer>

      <div class="container-fluid">

        <div class="row">
          <div class="col-md-2">
            <ul>
              <li>
                <a href="" , alt="notre page facebook ">
                  <i class="fa fa-facebook-official fa-4x"></i>
                </a>
              </li>
              <li>
                <a href="" , , alt="notre page twitter ">
                  <i class="fa fa-twitter-square fa-4x"></i>
                </a>
              </li>
            </ul>

          </div>
          <div class="col-md-3 linksfooter">
            <ul>
              <li>
                <h3>Infos pratiques</h3>
              </li>
              <li>
                <a href="">Comment ca marche ?</a>
              </li>
              <li>
                <a href="">Les avis</a>
              </li>
              <li>
                <a href="">Les niveaux</a>
              </li>
              <li>
                <a href="">Les prix</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 linksfooter">
            <ul>
              <li>
                <h3>A propos</h3>
              </li>
              <li>
                <a href="">Qui sommes-nous ?</a>
              </li>
              <li>
                <%= link_to "Nous contacter", static_pages_contact_path, alt:"nous contacter" %>
              </li>
              <li>
                <a href="">Ils parlent de nous !</a>
              </li>
            </ul>
            <p class="navbar-text pull-left">© 2016 - co-shop&#169;
            </p>
          </div>

          <div class="col-md-2 col-md-offset-1">
            <ul>
              <li><%= image_tag("logopumd.png", alt:"Logo co-shop", class: "img-responsive") %></li>
            </ul>
          </div>
        </div>


      </div>

    </footer>
    <% end %>
    <script type="text/javascript">
      $('#user_driver_input #user_driver').click(function () {
        this.checked
          ? $('.carblock').show(1000)
          : $('.carblock').hide(1000); //time for show
      });

      $(function () {
        filterCarsList();
      });

      function filterCarsList() {
        brands = $('#user_cmodel_id_input #user_cmodel_id').html();
        $('#user_cbrand_id_input #user_cbrand_id').change(function () {
          var brandselected1 = $('#user_cbrand_id_input #user_cbrand_id :selected').text();
          var optgroup1 = "optgroup[label='" + brandselected1 + "']";
          var options1 = $(brands).filter(optgroup1).html();
          console.log(brands);
          console.log(brandselected1);
          console.log(optgroup1);
          console.log(options1);
          if (brandselected1 != "") {
            $('#user_cmodel_id_input #user_cmodel_id').html(options1);
          };
        });
      };
    </script>
  </body>
</html>
